<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Cart</title>
</head>

<div layout:fragment="content">
  <h1>Cart</h1>

  <div class="d-flex flex-row">
    <a href="/" alt="Home" class="btn btn-primary btn-sm mb-1 mr-1">Home</a><br />
    <a href="/eshop" alt="Eshop" class="btn btn-primary btn-sm mb-1 mr-1">Eshop</a><br />
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Log Out" class="btn btn-primary btn-sm mb-1 mr-1"/>
    </form>
  </div>

  <table class="table table-bordered col-12">
    <thread>
      <tr>
        <th>Product code</th>
        <th>Product name</th>
        <th>Volume</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thread>

    <tbody>
    <tr th:each="userCartItem : ${userCartItems}">
      <td th:text="${userCartItem.item.productCode}"></td>
      <td th:text="${userCartItem.item.productName}"></td>
      <td th:text="${userCartItem.volume}"></td>
      <td th:text="${userCartItem.item.price}"></td>
      <td>
        <form th:action="@{/editCart/{idCartItem}(idCartItem=${userCartItem.id})}" th:object="${userCartItem}" method="post" class="d-flex">
          <input name="enteredVolume" type="number" min="1" step="1" th:max="${userCartItem.volume + userCartItem.item.volume}" th:value="${userCartItem.volume}" class="form-control col-3 mr-3"/>
          <button type="submit" class="btn btn-primary btn-sm">Apply</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</html>