<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main">
<head>
    <title>Home</title>
</head>

<div layout:fragment="content">
    <h1>Welcome to e-shop!</h1>
    <a href="/create-item" type="button" class="btn btn-primary btn-sm bottom-button-spacing">Admin - create a new item</a><br />
    <a href="/edit-item" type="button" class="btn btn-primary btn-sm bottom-button-spacing">Admin - edit item</a><br />
    <br>
    <a href="/profile" type="button" class="btn btn-primary btn-sm bottom-button-spacing">Profile</a><br />
    <a href="/cart" type="button" class="btn btn-primary btn-sm bottom-button-spacing">Cart</a><br />
    <a href="/eshop" type="button" class="btn btn-primary btn-sm bottom-button-spacing">Eshop</a>
</div>

</html>